.container {
  width: 50% !important;
  margin: 40px auto 10px;
  padding: 40px !important;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    rgb(204, 228, 247) 11.2%,
    rgb(237, 246, 250) 100.2%
  );
}

#name {
  width: 90%;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

#submit-button {
  color: #ffffff;
  border-radius: 5px;
  border: 2px solid #53a8b6;
  background-color: #79c2d0;
}

.mid-container {
  margin-top: 20px;
}

.icon {
  margin: 0 auto;
  display: block;
  width: 74%;
}

h1 {
  margin: 0;
  float: left;
  font-size: 100px;
}

h2 {
  font-size: 28px;
  margin-bottom: 0;
}

.col-6-text {
  margin-top: 30px;
}

.col-6-text a {
  text-decoration: none;
}

.col-6-text .active {
  cursor: default;
  color: rgb(135, 135, 135);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 22px;
}

li:first-letter {
  text-transform: capitalize;
}

.footer {
  width: 50% !important;
  margin: 0 auto;
}
